[submodule "NeuralAmpModelerCore"]
	path = lib/NeuralAmpModelerCore
	url = https://github.com/oyama/NeuralAmpModelerCore.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
